* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1.5s;
}

.App {
  text-align: center;
}

p {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  line-height: 5vh;
}

button {
  width: 90px;
  height: 30px;
}